<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Industrial Master</span>
      <span class="example-spacer"></span>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >verified_user</mat-icon
      >
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="side-nav-content" mode="side">
      <ul>
        <li><button mat-button color="accent">Home</button></li>
        <li><button mat-button color="accent">About Us</button></li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <h1>Welcome to {{ title }}!</h1>
      <button mat-raised-button color="warn">Click me!</button>
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
